.linkCard {
  border-radius: 8px;
  padding: 12px;
  transition: transform 0.1s;
  background: radial-gradient(
    circle,
    rgba(255, 204, 154, 1) 0%,
    rgba(247, 195, 145, 1) 48%,
    rgba(255, 222, 189, 1) 100%
  );
  color: rgb(134, 84, 30);
  max-width: 280px;
}

.linkCard a {
  color: rgb(134, 84, 30);
}

.linkTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.linkId {
  font-weight: bold;
  overflow-wrap: break-word;
  max-width: 90%;
}

.linkHitCount {
  height: 14px;
  margin-left: 14px;
}

.linkHitCount span {
  font-size: 0.8em;
}

.linkHitCount img {
  height: 90%;
}

@media (pointer: fine) {
  .linkCard:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.linkList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.linkDescription {
  font-size: 0.8em;
  margin-top: 10px;
  overflow-wrap: break-word;
}

.linkActualUrl {
  font-size: 0.8em;
  overflow-wrap: break-word;
}
